@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply text-white h-auto bg-gradient-to-br from-[#1e3b8ac5] to-[#1e3b8a3f]
      bg-opacity-55 mx-auto px-5 md:px-12 py-7 backdrop-blur-sm border-[2px]
      border-solid border-primary border-opacity-25 rounded-2xl
      shadow-[rgba(0,0,0,0.40)] shadow-2xl;
    }

    .project-card {
        @apply border-opacity-25 relative overflow-hidden rounded-2xl
      border-primary/55 border bg-gradient-to-b backdrop-blur-lg p-5 shadow-lg
      hover:shadow-xl transition-all;
    }

    .portfolio-card {
        @apply shadow-xl shadow-card/55 border border-primary/55 from-primary/15
      to-primary/5 px-4;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .code {
        @apply bg-gradient-to-br from-primary/20 to-accent/10 rounded-lg
      shadow-inner max-w-[90vw] overflow-scroll;
    }
}

mark {
    @apply text-primary font-semibold text-base bg-primary/15;
}
